{% extends 'base.html' %}
{% block content %}
  <p class="p-2">Hola, este es mi primer sitio en Django :D</p>

  <h3>Pokemons </h3>
  {% if user.is_authenticated %}
    <a href="{% url 'pokedex:create' %}">Agregar Pokémon</a>
  {% endif %}
  <div class="row">
    {% for pokemon in pokemons %}
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem; min-height: 350px;">
        <div class="card-header text-center bg-light">
          <h5 class="card-title mb-0">{{ pokemon.name|capfirst }}</h5>
        </div>
        {% if pokemon.picture %}
          <img src="{{ pokemon.picture.url }}" class="card-img-top" alt="{{ pokemon.name }}">
        {% endif %}
          <div class="card-body">
            <p class="card-text">Tipo: {{ pokemon.get_type_display }}</p>
            <div class="d-flex justify-content-around">
              <a href="{% url 'pokedex:pokemon' pokemon.id %}" class="btn btn-primary btn-sm">
                <i class="fa-solid fa-eye"></i>
              </a>
        {% if user.is_authenticated %}
              <a href="{% url 'pokedex:edit_pokemon' pokemon.id %}" class="btn btn-warning btn-sm">
                <i class="fa-solid fa-pencil"></i>
              </a>
              <a href="{% url 'pokedex:delete_pokemon' pokemon.id %}" class="btn btn-danger btn-sm">
                <i class="fa-solid fa-trash"></i>
              </a>
        {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <hr class="my-4">

  <h3>Entrenadores </h3>
  <div class="row">
    {% for trainer in trainers %}
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem; min-height: 350px;">
        <div class="card-header text-center bg-light">
          <h5 class="card-title mb-0">{{ trainer.nametrainer|capfirst }} {{ trainer.lastname|capfirst }}</h5>
        </div>
          {% if trainer.picture %}
            <img src="{{ trainer.picture.url }}" class="card-img-top" alt="{{ trainer.nametrainer }}">
          {% endif %}
          <div class="card-body">
            <p class="card-text">Nivel: {{ trainer.level }}</p>
            <div class="d-flex justify-content-around">
              <a href="{% url 'pokedex:trainer' trainer.id %}" class="btn btn-primary btn-sm">
                <i class="fa-solid fa-eye"></i>
              </a>
        {% if user.is_authenticated %}
              <a href="{% url 'pokedex:edit_trainer' trainer.id %}" class="btn btn-warning btn-sm">
                <i class="fa-solid fa-pencil"></i>
              </a>
              <a href="{% url 'pokedex:delete_trainer' trainer.id %}" class="btn btn-danger btn-sm">
                <i class="fa-solid fa-trash"></i>
              </a>
        {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %} 